.photo-image{
    height:200px;
    width:400px;
}
.title-text{
    font-size:1.0em!important;
     font-weight:bold;
     color:black
  }
  .sub-title-text{
    font-size:0.7em!important;
    color:black
  }
  .call-background{
    background: black!important

  }
  .mail-background{
    background: blue!important
  }
